@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 1920px;
}

.left-bar {
    width: 280px;
    height: 100%;
    background: linear-gradient(to right, #342A41 0%, #6500e4 100%);
}

.title {
    color: #ffff;
    padding-top: 6.5%;
    padding-left: 28%;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 10%;
}

.logo {
    border-radius: 5px;
    position: absolute;
    left: 3%;
    top: 3%;
}

.menu-bar {
    color: #ffff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 4%;
    margin-bottom: 4%;
    left: 20%;
    text-align: left;
    background: none;
    border: none;
    position: relative;
}

.img-bar {
    position: absolute;
    top: 15%;
    left: -50%;
}


.user {
    height: 60px;
    background: rgba(255, 255, 255, 0.08);
}

.user_avatar {
    margin-left: 3%;
    position: relative;
    top: 15%;
}

.username {
    color: #ffff;
    font-size: 15px;
    text-align: left;
    position: relative;
    top: -60%;
    margin-left: 20%;
    font-weight: 400;
}

.user_email {
    color: rgba(255, 255, 255, 0.377);
    position: relative;
    margin-top: -14%;
    margin-left: 20%;
    font-size: 10px;
    font-weight: 200;
}

.user_back {
    border: none;
    position: relative;
    bottom: 43%;
    left: 88%;
    cursor: pointer;
    background: none;
}