@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.left-bar {
    
    width: 280px;
    height: 100%;
    background: linear-gradient(to right, #342A41 0%, #6500e4 100%);
}

.title {
    color: #ffff;
    padding-top: 6.5%;
    padding-left: 28%;
    font-weight: 700;
    font-size: 18px;
}

.logo {
    border-radius: 5px;
    background-color: #ffff;
    position: absolute;
    left: 3%;
    top: 3.5%;
    width: 30px;
    height: 30px;
}